<!DOCTYPE html>
<html>
  <head>
    <title>Trainer</title>
  </head>
  <body>
    <div id='app'></div>
    <script type="text/javascript" src="http://localhost:3001/session.js"></script>
  </body>
</html>
